<div class="row divHautAddTable">
    <div class="col-2">
      <button type="button" class="btn btn-gainde"  matTooltip="Retour" (click)="onClickBack()">
        <mat-icon>arrow_back</mat-icon>               
      </button>
    </div>
    <div class="col-3"><h5 *ngIf="currentGainde">{{currentGainde.connectionName}}</h5></div>
    <div class="col-3"><h6 *ngIf="currentGainde">{{currentGainde.keyspaceName}}</h6></div>
    <div class="col-4"></div>
  </div>
  <div *ngIf="formTable">

    <form [formGroup]="formTable" (ngSubmit)="onSubmitTable()">
      <div class="row form-group">
           <div class="col-4">

           </div>
          <label class="col-3" for="name">Nom de la Table</label>
          <div class="col-3">
            <input id="name" class="form-control" formControlName="name" appAutofocus >
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary"  matTooltip="Ajouter une Ligne" (click)="onClickAddLigneColumn()">
            <mat-icon >add</mat-icon>                
          </button>
        </div>
      </div>   
      <div class="row">
        <div class="col-4">
        </div>
        <label class="col-3" >Nom de la colonne</label>
        <label class="col-2" >type de la colonne</label>
        <label class="col-1" >Clé Primaire?</label>
        <label class="col-1" >Indexer?</label>
      </div>   
      <div formArrayName="ligneColumns"
            *ngFor="let column of formTable.get('ligneColumns').controls; let i = index;">
            <div  [formGroupName]="i">  
              <div class="row editLineColumn">
                   <div class="col-4">
                   </div>           
                    <div class="col-3">
                        <input class="form-control" formControlName="name">  
                    </div> 
                      <div class="col-2">          
                          <select class="form-control" formControlName="type" placeholder="type de colonne" (change)="onValueTypeChange(i)">
                            <option *ngFor="let type of optionsTypeAll" [value]="type.value">{{type.name}}</option>                                                                                   
                          </select>   
                      </div>   
                      <div class="col-1">
                        <input type="checkbox" class="gaindeFormControl" formControlName="primaryKey" (change)="onCheckPrimaryChange(i)">  
                    </div> 
                    <div class="col-1">
                      <input type="checkbox" class="gaindeFormControl" formControlName="indexed"  (click)="onCheckIndexChange(i)">                      
                  </div>   
                    <div class="col-1">
                      <button type="button" class="btn btn-danger"  *ngIf="ligneColumns.length>1"
                      matTooltip="Supprimer une Ligne" (click)="onRemoveLineColumn(i)">
                      <mat-icon >
                        remove
                      </mat-icon> 
                      </button>        
                    </div>   
              </div>  
              <div class="row editLineColumn">
                <div class="col-4">
                </div>           
                 <div class="col-3">    
                  <select class="form-control columnOptionel" formControlName="typeList"  *ngIf="column.value.type<=24 && column.value.type>=22">                    
                    <option *ngFor="let type of optionsType" [value]="type.value">{{type.name}}</option>                                                                              
                  </select>   
                 </div> 
                   <div class="col-2">                   
                     <select class="form-control columnOptionel" formControlName="typeMap"  *ngIf="column.value.type==23">                     
                      <option *ngFor="let type of optionsType" [value]="type.value">{{type.name}}</option>                                                                                
                    </select>                           
                   </div>   
                  
                 <div class="col-3">                   
                   <input class="form-control columnOptionel" formControlName="indexName" *ngIf="column.value.indexed" >
               </div>   
                 
           </div>  
              
            </div>
           
      </div>
      
      <div class="row" style="margin-top: 30px;">
          <div class="col-xs-0 col-md-4 col-lg-4">              
          </div>
          <div class="col-xs-6 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary"  matTooltip="Ajouter une Ligne" (click)="onClickAddLigneColumn()">
                <mat-icon >add</mat-icon> 
                   
              </button> 
          </div>
          <div class="col-xs-6 col-md-4 col-lg-4">
            <button type="submit" class="btn btn-success boutonSave" [disabled]="formTable.invalid || !validPrimaryKey" >
              Enregistrer 
          </button> 
          </div>
      </div>
  </form>

  </div>
