.divHautEditTable{
    margin-top: 10px;
}
.editLineColumn{
    margin-bottom:10px ;
}
.gaindeFormControl {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;   
}
.gaindeFormControl:focus{
    border: 1px solid #007bff; 
}
.iconAction{
    cursor: pointer;
}
.columnOptionel{
    border: 1px solid #df5035;
}
.btn-gainder-danger{
    color: white;
    background-color: #df5035;
    font-size: 1rem;
  }
  .btn-gainde{
    background-color: #162056;
    border-color: #162056;
    color: white;
   }