<div class="divTitleDialog"><h1 mat-dialog-title>{{data.title}}</h1>
</div>
<div mat-dialog-content>
  <p>{{data.text}}</p>  
</div>
<div mat-dialog-actions class="row" >
  <div class="col-auto mr-auto">
    <button mat-button  class="btn btn-gainder-danger"  [mat-dialog-close]=""  *ngIf="data.btnCancel">Annuler</button>
  </div>
  <div class="col-auto">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial [ngClass]="{'btn btn-primary':true,'dialogActionCentral':!data.btnCancel,'dialogActionOk':data.btnCancel}">
      Ok</button>
  </div>
</div>

