<div class="divTitleDialog">
    <div class="row" *ngIf="data.isLoading">
        <div class="col-4"></div>
        <div class="col-8">     
            Import .....
        </div>
        </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-4"></div>
    <div class="col-8">
    <mat-spinner *ngIf="data.isLoading"></mat-spinner>
    </div>
  </div>
<div class="messageError" *ngIf="error">
  <span >{{messageError}}</span>
</div>
<form [formGroup]="formImport" (ngSubmit)="onSubmitForm();" *ngIf="!data.isLoading">  
<div mat-dialog-content>           
        <div class="form-group">
            <label for="name">Fichier CQL</label>            
            <input type="file" class="form-control"  formControlName="file"  (change)="fileProgress($event)"/>
        </div>      
     
  
</div>

<div mat-dialog-actions class="row"  >
  <div class="col-auto mr-auto">
    <button mat-button class="btn btn-gainder-danger"  [mat-dialog-close]=""  >Annuler</button>
  </div>
  <div class="col-auto">
    <button type="submit" mat-button   class="btn btn-success"   [disabled]="formImport.invalid">Valider</button>
  </div>
</div>
</form>

