.divConentKeyspace{
  margin-top: 10px;
}
.truncate-header{   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content-header{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.police-tree-invisible {
  display: none;
}

.police-tree ul,
.police-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.iconSuccess{
  color: green;
}
.iconWarning{
  color:orange;
}
.buttonTree{
  border: none;
  background: transparent;
}
.divAction{
    cursor:pointer;
    border-radius: 30px;
    border: 1px solid silver;
    padding: 10px;
}

.divKeyspace{
    cursor:pointer;    
   /* border: 1px solid steelblue;*/
    padding: 3px;
   
}
.iconKeyPrimary{
  color:green;
}
.dividerTable{  
  border:2px solid silver;
}
.spanBadge .mat-badge-content{
  background : green;
}
 .actionDeleteKeyspace{  
  height: 8px;
  width: 6px;
  cursor: pointer;
 }
 ::ng-deep .green-snackbar{
  background-color:green;
  color:white;
 }
 .actionClick{   
  cursor: pointer;
 }
 .keyspaceRow{
   margin: 20px;
 }
 .actionHeadGainde{
   max-width: 50px;;
 }
 .actionAddTable{
  height: 8px;
  width: 6px;
  cursor: pointer;
  color: black  ;
 }
 .rowContent{
   margin-top: 10px;
 }

 .tableDataNotZomm{
   display: none;
 }
 ::ng-deep .tabTableGainde .mat-tab-body-content{
   overflow: hidden;
 }
.btn-gainder-danger{
  color: white;
  background-color: #df5035;
  font-size: 1rem;
}
.btn-gainde{
  background-color: #162056;
  border-color: #162056;
  color: white;
 }
 .icon-gainde{
   color: #162056;
 }
 .elementNotVisible{
  display: none;
}
.rowEdit{
  margin: 3px;
}
.dialogWrapper{
  width: 900px;
}
@media(max-width: 600px) {
  .dialogWrapper {
    width:500px;
}
}
.labelRow{
  font-weight: bold;
}
.messageError{
  background-color: #df5035;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.gaindeFormControl {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;   
}
.gaindeFormControl:focus{
  border: 1px solid #007bff; 
}
.mat-badge-content {
  width: auto; 
  min-width: 24px;
  min-height: 20px;  
  }
  .columnDisplay{
    display: none;
  }
  .rowColumn{
    margin-bottom: 5px;
  }
  .gaindeFormControl {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;   
}
.gaindeFormControl:focus{
    border: 1px solid #007bff; 
}
.checkAll {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #206ab4;
  background-color: #fff; 
  background-clip: padding-box;
  border-radius: 0.25rem;   
}
.textArea{
  border: solid 3px #162056;
}
.actionHistory{
  max-width: 60px;
}
.actionHistoryMedium{
  max-width: 150px;
}
.rowContentArea{
  margin: 30px;
}
.textArea{
  margin: 10px;
}
.headColumn{
  margin-bottom: 20px;
}
.spanLabel{
  font-weight: bold;
}
.column-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.mat-dialog-content .dialogMax{
  height: 90vh;
}
.mat-dialog-content .dialogMin{
  height: 80vh;
}
.headColumnMove{
  cursor: move; 
}
.row-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.row-box:last-child {
  border: none;
}

.column-list.cdk-drop-list-dragging .row-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.zoomIcon{
  transform: scale(2);
}