.iconConnection{
    cursor: pointer;
}
.dialogActionCentral{
    display: block;
    margin: auto;
}
.dialogActionOk{
    display: block;
    margin-left: 30px;
}
.boutonSave{  
    margin-right: -15px;
}
.actionDelete{
    color:blue($color: #484b5c);
    height: 18px;
    width: 14px;
}
::ng-deep .green-snackbar{
    background-color:green;
    color:white;
}
.btn-gainder-danger{
    color: white;
    background-color: #df5035;
    font-size: 1rem;
  }
